.App {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100%;
  background-color: var(--secondary-color);
  overflow-y: auto;
}

.App .no-shrink {
  flex-shrink: 0;
}

.App .padding-x {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 768px) {
  .App .padding-x {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}