.base-container {
    background: var(--secondary-color);
    --padding: 1rem;
}

.base-container .lateral-space {
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.base-container .content {
    padding: 2rem var(--padding);
}

@media (min-width: 768px) {
    .base-container {
        --padding: 3rem;
    }

    .base-container .content {
        padding: var(--padding);
    }
}