.country-details img {
    width: 100%;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
    color: var(--font-color);
}

.details-container h2 {
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.details {
    flex: 1;
    min-width: 16rem; 
}

.details dl {
    margin-bottom: 0;
}

.details dt,
.details dd {
    display: inline;
    font-size: 0.875rem;
}

.details dt:after {
    content: ":";
}

.details dd + dt:before {
    content: "";
    display: block;
    height: 0.25rem;
}

.details dd {
    margin-left: 0.375rem;
}

.details dt {
    font-weight: 600;
}

.borders {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.25rem;
    flex: auto;
    width: 100%;
}

.borders dt {
    white-space: nowrap;
}

.borders dd {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.borders a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: var(--primary-color);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.17);
    color: var(--font-color);
}

.shimmer {
    background-repeat: no-repeat;
    background-size: 800px 100%;
    position: relative;
  
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
  }

.shimmer {
    background-color: hsl(210, 12%, 97%);
    background-image: linear-gradient(
      to right,
      hsl(0 0% 0% / 0%) 0%,
      hsl(0 0% 0% / 5%) 20%,
      hsl(0 0% 0% / 0%) 40%,
      hsl(0 0% 0% / 0%) 100%
    );
}

.dark-theme .shimmer {
    background-color: hsl(205, 26%, 28%);
    background-image: linear-gradient(
      to right,
      hsl(0 0% 0% / 0%) 0%,
      hsl(0 0% 60% / 15%) 20%,
      hsl(0 0% 0% / 0%) 40%,
      hsl(0 0% 0% / 0%) 100%
    );
}

@keyframes placeholderShimmer {
    0% {
      background-position: -468px 0;
    }
  
    100% {
      background-position: 468px 0;
    }
}

img[data-hide="true"] {
    position: absolute;
    width: 1px;
}

.img-shimmer {
    width: 100%;
    padding-bottom: 62.5%;
}

.details-shimmer .title {
    width: 70%;
    height: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.details-shimmer .lines {
    width: 55%;
    height: 1.25rem;
}

.details-shimmer .lines + .lines {
    margin-top: 1rem;
    width: 50%;
}

@media (min-width: 768px) {
    .country-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .details-container {
        height: fit-content;
    }

    .details-container h2,
    .details-shimmer .title {
        margin-top: 0;
    }
}

@media (min-width: 1250px) {
    .country-details {
        gap: 7.25rem;
    }

    .details-container h2,
    .details-shimmer .title {
        margin-top: 2rem;
    }
}